@model string
<!-- Create partial below -->
@if (ViewData["Title"] == "Home")
{
    <a href="https://www.linkedin.com/in/@Model">Donald Long</a>
}
else if (ViewData["Title"] == "Projects")
{
    <a href="https://www.github.com/@Model">don2k74</a>
}

